p {
	font-family: "Quicksand";
}

h1 {
	font-family: "Song+Myung";
}

/* font size */

h1 {
	font-size: 120px;
	text-align: center;
}

p {
	font-weight: bold;
	line-height: 2;
	text-align: center;
}

/* BOX MODEL INTRO */

p {
	border: 2px solid blue;
	width: 50%;
	padding: 10px;
	margin: 12px auto;
}